* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #222222;
}

li {
  list-style-type: none;
}

.container {
  width: $main-width;
  margin: 0 auto;
}